@import "tailwindcss";
@plugin "./hero.ts";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

:root {
  --background: #F5F6F7 ;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-backgroundColor: #fefefe;
  --color-backgroundColor2: #f1f1f1;
  --color-bluePrimary-200: #0388A6;
  --color-bluePrimary-100: #126274;
  --color-brownPrimary: #8C4303;
  --color-brownSecondary-200: #F2B705;
  --color-brownSecondary-100: #F28705;
  --color-redPrimary: #F21B1B;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background);
    --foreground: var(--foreground);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
